<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zamiana liczb na słowa</title>
        <link rel="stylesheet" type="text/css" href="/static/css/word.css">

</head>
<body>
<div>
    <p style="font-family: 'Bitter', serif; background-color: #447e9b; text-align: center; padding: 2vw; font-size: 2vw">
        Zmiana liczb na słowa
    </p>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col" style="text-align: center; margin-top: 2vw">
        <p style="font-family: 'Bitter', serif; margin: 1vw">{{ word }}</p>
        <button style="font-family: 'Bitter', serif;" onclick="location.href = '/'">Powrót</button>
    </div>
    <div class="col"></div>
</div>
</body>
</html>